<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Synesthesia.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Synesthesia.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow"
             style="background-color: #f5d1ff;">
            <div class="container">
                @* <a class="navbar-brand" asp-area="" asp-page="/Index">Synesthesia</a> *@
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Index">
                    <img src="~/images/title_dark_slim.png" alt="Synesthesia Logo" style="height:30px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    @{
        // Get current page path
        var currentPage = ViewContext.ActionDescriptor.DisplayName;
        // Or relative page path
        var pagePath = ViewContext.RouteData.Values["page"]?.ToString();
    }

    @if (pagePath != "/Index" &&
        pagePath != "/Privacy" &&
        pagePath != "/Profile" &&
        pagePath != "/Account/Login" &&
        pagePath != "/Account/Register" &&
        pagePath != "/Studio")
    {
        <div class="container">
            <main role="main" class="flex-fill">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <main role="main" class="flex-fill">
            @RenderBody()
        </main>
    }

    @* <footer class="text-center py-2">
        <small>&copy; 2025 - Synesthesia - <a asp-area="" asp-page="/Privacy">Privacy</a></small>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>